{% extends "rango/base.html" %}
{% block body_block %}
  <link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css"
  rel="stylesheet">
  <div class="jumbotron">
    <h1 class="display-3">Login</h1>
  </div>
  <form class="form-signin" role="form" method="post" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="id_username" class="form-control"
    placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="id_password" class="form-control"
    placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"
    value="Submit" />Sign in</button>
  </form>
{% endblock %}
