<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  About
{% endblock %}

{% block body_block %}

   <div>
     <div>Hello on the About page</div>
     <img src="{% static "images/django-logo.png" %}" alt="Django logo should be there" /height="500" width="500">
   </div>
   <img src="{{MEDIA_URL}}ice-cream.jpg"/ height="200" width="200">
{% endblock %}
