<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js">
<script src="{% static "js/rango-jquery.js" %}"></script>

{% load rango_template_tags %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

      <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
      <!-- Bootstrap core CSS -->
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://v4-alpha.getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
      <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Rango</a>
       <div id="navbar">
        <nav class="nav navbar-nav pull-xs-left">
			<a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
			<a class="nav-item nav-link" href="{% url 'about' %}">About</a>
      <a class="nav-item nav-link" href="{% url 'categories' %}">All categories</a>
			{% if user.is_authenticated %}
				<a class="nav-item nav-link" href="{% url 'add_category' %}">Add a New Category</a>
        <a class ="nav-item nav-link" href="{% url 'profile' user.username %}">Profile</a>
        <a class="nav-item nav-link" href="{% url 'list_profiles' %}">List Profiles</a>
				<a class="nav-item nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a>


			{% else %}
				<a class="nav-item nav-link" href="{% url 'registration_register' %}">Register Here</a>
				<a class="nav-item nav-link" href="{% url 'auth_login' %}">Login</a>

			{% endif %}

        </nav>
      </div>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

            <ul class="nav nav-list">
		 <li class="nav-header">Type to find a category</li>
	    <form>
			<li><input class="search-query form-control" type="text"
				name="suggestion" value="" id="suggestion" />
			</li>
		</form>
	</ul>
            <hr>
	<div id="cats">
	</div>


        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
         {% block body_block %}{% endblock %}


        </div>
      </div>
    </div>

     <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>

    <script src="{% static "js/rango-ajax.js" %}"></script>
    <!--
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
 -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="http://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--
    <script src="http://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static "js/rango-jquery.js" %}"></script>
  </body>
</html>
