<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ category.name }}
{% endblock %}

{% block body_block %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
              {% for page in pages %}
                <li>
                  <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                  {% if page.views > 1 %}
                    ({{ page.views }} views)
                      {% elif page.views == 1 %}
                    ({{ page.views }} view)
                  {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% else %}
          <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
      The specified category does not exist!
    {% endif %}


  {% if user.is_authenticated %}
      <div> <strong id="like_count">{{ category.likes }}</strong> people like this category
          <button id="likes" data-catid="{{category.id}}"
            class="btn btn-primary btn-sm" type="button"> Like
          </button>
      </div>
        <strong><div><a href = "/rango/category/{{category.slug}}/add_page"> Add a page</div></strong>
  {% endif %}
{% endblock %}
