{% extends "rango/base.html" %}
{% block title_block %}
  Registration - Step 2
{% endblock %}
{% block body_block %}
  <h1>Registration - Step 2</h1>
    <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
      {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
